<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/staticFiles/main.css">
        </head>
        <body>
        <div class="bordered">
        <h1 class="center">REGEX 101 CLONE</h1>
        <form method="post">
        <center><h2><b><label class="labelling"> Text String: </label></b>
        <input class="input_user" type="text" id="text_string" name="text_string" placeholder="Enter text" size="50">
        <br><br>
        <h2><b><label class="labelling">Regular Expression: </label></b>
        <input class="input_user" type="text" id="regular_expression" name="regular_expression" placeholder="Enter Regular Expression"
          size="30">
        <br><br>
        <button class="button">Submit</button>
    </form>
  </center>
</div>
</body>
</html>